<!DOCTYPE html>
<html lang="en">
<head>
    <title>tsparticles</title>
    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela">
</head>
<body>
<div id="tsparticles"></div>

<div class="cont">
    <header>
        <h2> Ups ... something went wrong!   </h2>
        <p>
            Please excuse us, we are working on it ...
        </p>
    </header>
    <h3></h3>

    <a href="/home"><button class="button">RETURN TO HOME</button></a>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.18.11/tsparticles.min.js"></script>
<script src="assets/js/app.js">
</script>
</body>
</html>